@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #333;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  flex: 1 0 auto;
}

.line {
  background-color: #219653;
  min-height: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 20px;
}

.menu {
  flex: 1 1 auto;
}

.menu__list {
  display: flex;
  gap: 10px;
}

.menu__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  transition: color 0.3s;
}

.menu__item:hover {
  text-decoration: underline;
  color: #afff92;
}

.office__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
  transition: color 0.3s;
}

.office__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/proff3.png) 0/14px no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 15px;
  transition: transform 0.3s;
}

.office__link:hover::before {
  transform: scale(1.3);
}

.office__link:hover {
  text-decoration: underline;
  color: #afff92;
}

.logo__container {
  display: flex;
  align-items: center;
  min-height: 90px;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__image1 {
  transition: opacity 0.3s;
}

.logo__image2 {
  margin-top: 10px;
  padding-left: 6px;
  transition: opacity 0.3s;
}

.logo__image2:hover,
.logo__image1:hover {
  opacity: 80%;
}

.logo__content {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.phone {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.phone__link1,
.phone__link {
  font-size: 18px;
  line-height: 1.38;
  color: #333333;
  transition: color 0.3s;
  align-items: center;
  height: 30px;
}

.phone__link1:hover,
.phone__link:hover {
  color: #75b935;
}

.phone__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/profii.png) 0/21px no-repeat;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  transition: transform 0.3s;
}

.phone__link1::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/profi.png) 0/21px no-repeat;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  transition: transform 0.3s;
}

.phone__link1:hover::before,
.phone__link:hover::before {
  transform: scale(1.3);
}

.basket__link {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  color: #333333;
  transition: color 0.3s;
}

.basket__link:hover {
  color: #73a75f;
  text-decoration: underline;
}

.basket__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/korz2.png) 0/58px no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.basket__link:hover::before {
  transform: scale(1.1);
}

.linebord {
  border: 0.5px solid #BDBDBD;
}

.burger__list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.burger__item {
  display: inline-flex;
}

.burger__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #58C800;
  transition: color 0.3s;
}

.burger__link:hover {
  color: #50ac0a;
  text-decoration: underline;
}

@media (max-width: 1149px) {
  .burger__link {
    font-size: 22px;
    line-height: 1.3;
  }
}

@media (max-width: 1063px) {
  .burger__link {
    font-size: 20px;
    line-height: 1.3;
  }
}

.search__container {
  display: flex;
  align-items: center;
}

.search__links {
  margin-top: 5px;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18/25;
  color: #58C800;
}


.search__links:focus {
  outline: none;
  border: 1px solid #219653;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  margin: 3px -4px;
}

.portfolio__column {
  flex: 0 1 20%;
  padding: 0.4%;
}

.portfolio__columnses {
  padding: 10px 10px 0px 10px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  max-width: 246px;
}

.item-portfolio__image img {
  max-width: 100%;
  transition: transform 0.3s;
}

.item-portfolio__image:hover img {
  transform: scale(1.04);
}

.item-portfolio__title {
  text-align: center;
  font-size: 24px;
  color: #333333;
  transition: color 0.3s;
  padding-bottom: 5px;
}

.phones {
  display: none;
}

/*--------------------------------------------------------------*/

@media (max-width:1093px) {
  .item-portfolio__title {
    font-size: 22px;
  }
}

@media (max-width:1015px) {
  .item-portfolio__title {
    font-size: 20px;
  }
}

@media (max-width:991.98px) {
  .logo__image1 {
    max-width: 15%;
  }

  .logo__image2 {
    padding-left: 3px;
    max-width: 80%;
  }

  .phone__link1,
  .phone__link {
    font-size: 14px;
    line-height: 1.3;
    height: 25px;
  }

  .phone {
    margin-left: 0px;
  }

  .phone__link::before {
    background: url(../img/profii.png) 0/19px no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 1px;
  }

  .phone__link1::before {
    background: url(../img/profi.png) 0/19px no-repeat;
    width: 21px;
    height: 21px;
    margin-right: 1px;
  }

  .basket__link {
    font-size: 16px;
    line-height: 1.3;
  }

  .basket__link::before {
    background: url(../img/korz2.png) 0/50px no-repeat;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .logo__container {
    min-height: 70px;
  }

  .burger__link {
    font-size: 18px;
    line-height: 1.3;
  }

  .item-portfolio__title {
    font-size: 18px;
  }

  .search__links {
    margin-top: 3px;
    padding-left: 5px;
    height: 20px;
    font-size: 16px;
  }
}

@media (max-width:876px) {
  .burger__link {
    font-size: 15.6px;
    line-height: 1.2;
  }

  .item-portfolio__title {
    font-size: 15.6px;
  }
}

@media (max-width:768.98px) {
  .header__container {
    height: 5px;
  }

  .menu__list {
    gap: 5px;
  }

  .menu__item {
    font-size: 10px;
  }

  .office__link {
    font-size: 10px;
  }

  .office__link::before {
    background: url(../img/proff3.png) 0/12px no-repeat;
    width: 14px;
    height: 14px;
    margin-right: 0px;
  }

  .logo__image1 {
    max-width: 10%;
  }

  .logo__image2 {
    margin-top: 5px;
    padding-left: 0px;
    max-width: 60%;
  }

  .phone__link1,
  .phone__link {
    font-size: 16px;
    line-height: 1.7;
    height: 23px;
  }

  .phone {
    margin-left: -120px;
  }

  .phone__link::before {
    background: url(../img/profii.png) 0/17px no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 1px;
  }

  .phone__link1::before {
    background: url(../img/profi.png) 0/17px no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 1px;
  }

  .basket__link {
    font-size: 14px;
    line-height: 1.4;
  }

  .basket__link::before {
    background: url(../img/korz2.png) 0/40px no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 0px;
  }

  .logo__container {
    min-height: 0px;
  }

  .borderline__container {
    display: none;
  }

  .navbar__container {
    display: none;
  }

  .search__links {
    margin-top: 3px;
    padding-left: 5px;
    height: 20px;
    font-size: 14px;
  }

  .portfolio__items {
    margin: 3px -2px;
  }

  .portfolio__column {
    flex: 0 1 33.33%;
  }

  .item-portfolio__title {
    font-size: 20px;
  }
}

@media (max-width:576px) {
  .menu {
    display: none;
  }

  .logo__image1 {
    display: none;
  }

  .phone {
    margin-left: -130px;
  }

  .phone__link1,
  .phone__link {
    font-size: 14px;
    line-height: 1.7;
    height: 23px;
  }

  .phone__link::before {
    background: url(../img/profii.png) 0/15px no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 1px;
  }

  .phone__link1::before {
    background: url(../img/profi.png) 0/15px no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 1px;
  }

  .logo__container {
    min-height: 0px;
  }

  .basket__link {
    font-size: 14px;
    line-height: 1.2;
  }

  .basket__link::before {
    background: url(../img/korz2.png) 0/30px no-repeat;
    width: 32px;
    height: 32px;
    margin-right: 0px;
  }
}

@media (max-width:576px) {
  .item-portfolio__title {
    font-size: 18px;
  }
}

@media (max-width:520px) {
  .phones {
    display: block;
  }

  .phones a {
    margin-left: 10px;
    font-size: 10px;
    color: #fff;
  }

  .phone__link::before {
    background: url(../img/profii.png) 0/10px no-repeat;
    width: 12px;
    margin-right: 1px;
  }

  .phone__link1::before {
    background: url(../img/profi.png) 0/10px no-repeat;
    width: 12px;
    margin-right: 1px;
  }

  .header__container {
    justify-content: space-between;
  }

  .number {
    display: none;
  }

  .portfolio__items {
    margin: 3px -1px;
  }

  .portfolio__column {
    flex: 0 1 50%;
  }
}

@media (max-width:350px) {
  .logo__image2 {
    margin-top: 5px;
    max-width: 80%;
  }

  .basket__link {
    font-size: 12px;
    line-height: 1.2;
  }

  .basket__link::before {
    background: url(../img/korz2.png) 0/26px no-repeat;
    width: 28px;
    margin-right: 0px;
  }

  .header__container {
    justify-content: space-between;
  }

  .phones {
    margin-left: 5px;
  }

  .phones a {
    margin-left: 0px;
    font-size: 10px;
    color: #fff;
  }

  .phone__link::before {
    background: url(../img/profii.png) 0/10px no-repeat;
    width: 12px;
    margin-right: 1px;
  }

  .phone__link1::before {
    background: url(../img/profi.png) 0/10px no-repeat;
    width: 12px;
    margin-right: 1px;
  }

  .search__links {
    margin-top: 0px;
    padding-left: 3px;
    height: 20px;
    font-size: 10px;
  }

  .portfolio__items {
    margin: 3px 0px;
  }

  .item-portfolio__title {
    font-size: 14px;
  }
}

@media (max-width:350px) {
  .phones a {
    overflow: hidden;
  }
}