@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #333;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
}

.page {
  flex: 1 0 auto;
}

.line {
  background-color: #219653;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
}

/* ------------------------- */

.menu__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu__item {
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  transition: color 0.3s;
}

.menu__item:hover {
  text-decoration: underline;
  color: #afff92;
}

.office__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #ffffff;
  transition: color 0.3s;
}

.office__link::before {
  content: "";
  display: inline-flex;
  vertical-align: middle;
  background: url(../img/proff3.png) 0/16px no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  transition: transform 0.3s;
}

.office__link:hover::before {
  transform: scale(1.3);
}

.office__link:hover {
  text-decoration: underline;
  color: #afff92;
}

/* ---------------------------- */

.logo__container {
  display: flex;
  align-items: center;
  min-height: 90px;
}

.logo__content {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__image1 {
  transition: opacity 0.3s;
}

.logo__image2 {
  margin-top: 5px;
  padding-left: 6px;
  transition: opacity 0.3s;
}

.logo__image2:hover,
.logo__image1:hover {
  opacity: 80%;
}

.phone {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.phone__link1,
.phone__link {
  font-size: 18px;
  line-height: 1.38;
  color: #333333;
  transition: color 0.3s;
  align-items: center;
  height: 30px;
}

.phone__link1:hover,
.phone__link:hover {
  color: #75b935;
}

.phone__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/profii.png) 0/21px no-repeat;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  transition: transform 0.3s;
}

.phone__link1::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/profi.png) 0/21px no-repeat;
  width: 23px;
  height: 23px;
  margin-right: 5px;
  transition: transform 0.3s;
}

.phone__link1:hover::before,
.phone__link:hover::before {
  transform: scale(1.3);
}

.basket__link {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  color: #333333;
  transition: color 0.3s;
}

.basket__link:hover {
  color: #73a75f;
  text-decoration: underline;
}

.basket__link::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/korz2.png) 0/58px no-repeat;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  transition: transform 0.3s;
}

.basket__link:hover::before {
  transform: scale(1.1);
}

/* ------------------------------- */

.linebord {
  border: 0.5px solid #BDBDBD;
}

/* ------------------------------ */

.burger__item {
  display: flex;
  justify-content: space-between;
}

.burger__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #58C800;
  transition: color 0.3s;
}

@media (max-width:1140px) {
  .burger__link {
    font-size: 20.5px;
    line-height: 33px;
  }

}

.burger__link:hover {
  color: #50ac0a;
  text-decoration: underline;
}

.search__container {
  display: flex;
  align-items: center;
}

.search__links {
  margin-top: 5px;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  font-size: 18px;
  line-height: 18/25;
  color: #58C800;
}

.search__links:focus {
  outline: none;
  border: 1px solid #219653;
}

.open {
  display: none;
}

/* ----------------------------------- */

.portfolio__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  gap: 5px;
  margin-top: 10px;
}

.portfolio__column {
  display: grid;
}

.portfolio__columnses {
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
}

.item-portfolio__image img {
  max-width: 100%;
  transition: transform 0.3s;
}

.item-portfolio__image:hover img {
  transform: scale(1.04);
}

.item-portfolio__title {
  text-align: center;
  font-size: 24px;
  color: #333333;
  transition: color 0.3s;
}

.item-portfolio__title:hover {
  color: #888888;
}

.item-portfolio__title {
  padding-bottom: 5px;
}




/* ------------------------------------------------ */
@media (max-width:1078px) {

  .item-portfolio__title {
    font-size: 21.5px;
  }
}

@media (max-width:991.98px) {
  .logo__container {
    min-height: 80px;
  }

  .logo__image1 {
    max-width: 70px;
  }

  .logo__image2 {
    margin-top: 5px;
    padding-left: 6px;
    max-width: 340px;
  }

  .menu__list {
    gap: 6px;
  }

  .burger__link {
    font-size: 15.5px;
    line-height: 33px;
  }

  .item-portfolio__title {
    font-size: 20px;
  }
}

@media (max-width:768.98px) {
  .portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    gap: 5px;
    margin-top: 10px;
  }

  .logo__container {
    min-height: 50px;
  }

  .logo__image1 {
    max-width: 55px;
  }

  .logo__image2 {
    margin-top: 5px;
    padding-left: 6px;
    max-width: 250px;
  }

  .phone__link1,
  .phone__link {
    font-size: 14px;
    line-height: 1.8;
    align-items: center;
  }

  .phone__link::before {
    background: url(../img/profii.png) 0/21px no-repeat;
    width: 23px;
    height: 23px;
    margin-right: 5px;
  }

  .phone__link1::before {
    background: url(../img/profi.png) 0/21px no-repeat;
    width: 23px;
    height: 23px;
    margin-right: 5px;
  }

  .basket__link {
    font-size: 14px;
    line-height: 1.3;
  }

  .basket__link::before {
    background: url(../img/korz2.png) 0/38px no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  .burger__list,
  .menu {
    display: none;
  }

  .menu__item {
    font-size: 12px;
  }

  .office__link {
    font-size: 12px;
    line-height: 1.3;
  }

  .burger__item {
    flex-wrap: wrap;
    justify-content: start;
    gap: 7px;
  }

  .burger__link {
    font-size: 15.5px;
    line-height: 33px;
  }

  .open {
    display: block;
  }

  .close {
    display: none;
  }

  .phones {
    display: flex;
  }

  .phones__link1,
  .phones__link {
    font-size: 14px;
    line-height: 0.5;
    color: #ffffff;
    transition: color 0.3s;
    padding-left: 5px;
  }

  .phones__link1:hover,
  .phones__link:hover {
    color: #75b935;
  }

  .phones__link::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(../img/profii.png) 0/14px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    transition: transform 0.3s;
  }

  .phones__link1::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background: url(../img/profi.png) 0/14px no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    transition: transform 0.3s;
  }

  .phones__link1:hover::before,
  .phones__link:hover::before {
    transform: scale(1.3);
  }
}

@media (max-width:610px) {
  .portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    gap: 5px;
    margin-top: 10px;
  }

  .phone {
    margin-left: 10px;
  }

  .logo__image1 {
    display: none;
  }

  .phone__link::before {
    margin-right: 2px;
  }

  .phone__link1::before {
    margin-right: 2px;
  }

  .basket__link::before {
    margin-right: 2px;
  }

  .item-portfolio__title {
    font-size: 16px;
  }
}

@media (max-width:520px) {
  .portfolio__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    gap: 5px;
    margin-top: 10px;
  }

  .logo__image2 {
    max-width: 200px;
  }

  .portfolio__column {
    display: grid;
  }

  .office__link {
    font-size: 14px;
  }

  .phones {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width:350px) {
  .logo__image2 {
    max-width: 150px;
  }

  .office__link {
    font-size: 12px;
  }
}