/*--Tovar-------------------------------------------------*/

.grid {
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  /*grid-template: repeat(2, 1fr)/repeat(4, 1fr);*/
  gap: 5px;
}

.grid__item {
  display: grid;
}

.block__list {
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;
  border-radius: 4px;
}

.block__image {
  text-align: center;
}

.block__image img {
  max-height: 200px;
  max-width: 200px;
  border-bottom: 1px solid #C5C5C5;
}

.block__title {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.37;
  color: #333333;
  padding: 0 5px;
}

.block__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  color: #333333;
  padding: 0 5px;
  padding-bottom: 10px;
}

.block__info {
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  align-items: flex-end;
  column-gap: 5px;
  text-align: center;
  margin: 4px;
}

.block__money {
  flex: 1 1 140px;
  padding: 5px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.36;
  color: #219653;
  background-color: #E8E8E8;
}

.block__deteil {
  flex: 1 1 140px;
  padding: 5px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: #E8E8E8;
  background-color: #219653;
  transition: background-color 0.3s;
}

.block__deteil:hover {
  background-color: #33a129;
}
















/*--------------------------------------------------------------*/

@media (max-width:991.98px) {
  .grid {
    padding-top: 5px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); */
    grid-template: repeat(1, 1fr)/repeat(3, 1fr);
    gap: 5px;
  }

  .block__money {
    font-size: 16px;
  }

  .block__deteil {
    font-size: 16px;
  }
}

@media (max-width:768.98px) {
  .grid {
    padding-top: 5px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); */
    grid-template: repeat(1, 1fr)/repeat(2, 1fr);
    gap: 5px;
  }


}

@media (max-width:576px) {
  .grid {
    padding-top: 5px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); */
    grid-template: repeat(0, 1fr)/repeat(2, 1fr);
    gap: 5px;
  }

  .block__money {
    font-size: 16px;
  }

  .block__deteil {
    padding-top: 6px;
    padding-bottom: 6.4px;
    font-size: 14px;
  }
}

@media (max-width:520px) {
  .block__image img {
    max-height: 140px;
    max-width: 180px;
    border-bottom: 1px solid #C5C5C5;
  }

  .block__info {
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .block__money {
    flex: 1 0 150px;
  }

  .block__deteil {
    flex: 1 0 150px;
  }
}

@media (max-width:350px) {
  .block__info {
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .block__money {
    flex: 1 0 120px;
  }

  .block__deteil {
    flex: 1 0 120px;
  }
}

@media (max-width:350px) {}